body {
  background: silver;
}

* {
  
  border-radius: 10px;
}
.container {
  background-color: silver;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 10px;
  text-align: center;
}

.container div {
  background-color: rgb(202, 243, 140);
  border: 1px solid black;
  
}

.container div:hover {
  animation: fadeIn 2s;
}

.a {
  width: 100vw;
  height: 20vw;
  border-radius: 10px;
  
}

.b {
  width: 100vw;
  height: 20vh;
  border-radius: 10px;
  
}

.c {
  height: 10vh;
  width: 20vw;
  border-radius: 10px;
  
}

.d  {
  height: 10vh;
  width: 20vw;
  border-radius: 10px;
  
}

.e {
  height: 10vh;
  width: 20vw;
  border-radius: 10px;
  
}

.f {
  width: 100vw;
  height: 20vh;
  border-radius: 10px;
 
  
  
}



@media screen and (min-width: 600px){
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .a, .b, .c, .d, .e, .f {
    width: auto;
    height: auto;
  }
  .a {
    grid-column: 1/5;
    grid-row: 1;
    height: 20vh;
  }
  .b{
    grid-column: 1/4;
    grid-row: 2;
    height: 40vh;
  }
  .c, .d, .e {
    grid-row: 3;
    height: 30vh;
  }
  .f {
    grid-column: 4;
    grid-row: 2/4;
  }
}



@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
